<header >
  <div class="header">
    <div class="container">
      <a  class="link" href="" [routerLink]="['/']" >Corporation</a>
    </div>
  </div>
  <nav class="nav">
    <div class="container">
      <a  class="link menu"  [routerLink]="['/']" >Home</a>
      <a  class="link menu" [routerLink]="['products']" >Produtos</a>
      <a  class="link menu"  [routerLink]="['form']" >Cadastro</a>
      <a  class="link menu" [routerLink]="['contact']" >Contato</a>
    </div>
  </nav>

</header>
<section class="container">
  <router-outlet></router-outlet>
  </section>
<footer>
  <div class="container">
    <p class="link menu">Bianca Alencar</p>
  </div>
</footer>
