<section>
  <div class="img"></div>

  <section class="main-service">
    <div class="service-single">
      <h2 class="title">Desktop</h2>
      <img class="imgIcon" src="../../assets/desktop-solid.svg" alt="desktop">
      <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
     </p>
    </div>

    <div class="service-single">
      <h2 class="title">Desktop</h2>
      <img class="imgIcon" src="../../assets/desktop-solid.svg" alt="desktop">
      <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
     </p>
    </div>

    <div class="service-single">
      <h2 class="title">Desktop</h2>
      <img class="imgIcon" src="../../assets/desktop-solid.svg" alt="desktop">
      <p class="p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
     </p>
    </div>


  </section>

  <section class="main-about">
    <div class="container">
      <h2 class="title">About</h2>
      <p class="pAbout">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?
     </p>
    </div>
  </section>


  <section class="main-service pad">
    <div class="single ">
      <img class="imgSingle " src="../../assets/banner.jpg" alt="desktop">
      <div class="pSingle ">
        <p class="p p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
             </p>
      </div>
    </div>

    <div class="single in">
      <img class="imgSingle" src="../../assets/banner.jpg" alt="desktop">
      <div class="pSingle">
        <p class="p p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
             </p>
      </div>
    </div>

    <div class="single">
      <img class="imgSingle" src="../../assets/banner.jpg" alt="desktop">
      <div class="pSingle">
        <p class="p p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
             </p>
      </div>
    </div>

    <div class="single in">
      <img class="imgSingle" src="../../assets/banner.jpg" alt="desktop">
      <div class="pSingle">
        <p class="p p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam eum molestiae quisquam reiciendis blanditiis, dicta repellat dolores nam, exercitationem consequatur repellendus iusto, maxime delectus modi nisi. Repellat incidunt aut molestiae?.
             </p>
      </div>
    </div>
  </section>
</section>
